<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://jbang.dev">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/appstore">AppStore</a>
        <a class="navbar-item" href="/try">Try</a>
        <a class="navbar-item" href="/download">Download</a>
        <a class="navbar-item" href="/documentation">Documentation</a>
      </div>
    </div>
    <div class="navbar-item hide-for-print">
        <input id="search-input" type="text" placeholder="Search (by Algolia)">
      </div>
  </nav>
</header>
